#!/bin/bash
#author: kiran
#description: creating servicefile

[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=dev-redis.kiranprav.link
Environment=MONGO_URL="mongodb://dev-mongodb.kiranprav.link:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target